body {
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #0861CB ;
  background-size: cover;
  background-position: 50% 50%;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #c3e7ff url(../../assets/login.png);
  background-size: cover;
  background-position: 50% 50%;
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  left: 0;
  position: absolute;
}

.right {
  width: 50%;
  height: 100%;
  background: #0861CB;
  right: 0;
  position: absolute;
}

.content {
  width: 280px;
  margin: 0 auto;
  top: 20%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}



 button {
   background: #03A9F4;
  padding: 10px 16px;
//   width: auto;
//   font-weight: 600;
//   text-transform:  uppercase;
   font-size: 14px;
    color: #fff;
    line-height: 16px;
   letter-spacing: 0.5px;
   border-radius: 2px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
   border: 0;
   outline: 0;
   margin: 20px 20px 20px 0;
   transition: all 0.25s;
 
 }

button:hover {
  background: #0288D1;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}
.off {
  background: none;
  color: #03A9F4;
  box-shadow: none;
}

.right .off:hover {
  background: #eee;
  color: #03A9F4;
  box-shadow: none;
}
.left .off:hover {
  box-shadow: none;
  color: #03A9F4;
  background: #363A3D;
}
input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #959595;
  padding: 8px 0;
  margin-top: 20px;
}
.center {
  display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;

}
.center-img {
  display: block;
  margin-left: 25%;
  margin-right: auto;
  margin-bottom: 60px;
  width: auto;
}
.banner{
  margin-bottom: -48%;
  position: inherit;
 margin-left: 39%;
  }



#Group_1 {
  position: absolute;
  width: 237px;
  height: 160px;
  left: 1424px;
  top: 159px;
  overflow: visible;
}
.Rectangle_6 {
  position: absolute;
  overflow: visible;
  width: 123px;
  height: 123px;
  left: 57px;
  top: 7px;
}
#logo_white {
  position: absolute;
  width: 237px;
  height: 160px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Username {
  position: absolute;
  left: 1383px;
  top: 551px;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(255,255,255,1);
}
.Password {
  position: absolute;
  left: 1383px;
  top: 659px;
  overflow: visible;
  width: 99px;
  white-space: nowrap;
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(255,255,255,1);
}
#TechnicFriend {
  position: absolute;
  left: 1387px;
  top: 373px;
  overflow: visible;
  width: 301px;
  white-space: nowrap;
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  color: rgba(255,255,255,1);
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}