<div id="back">
  <div class="backRight"></div>
  <div class="backLeft"></div>
</div>

<div id="slideBox">
  <div class="topLayer">
    <div class="left">
      <div class="content">
        
      </div>
    </div>
    <div class="right">
      <div class="container content">
        <div class="row">
        <h2>
          <!-- <svg class="Rectangle_6">
            <rect fill="rgba(255,255,255,1)" id="Rectangle_6" rx="28" ry="28" x="0" y="0" width="123" height="123">
            </rect>
          </svg> -->
          
          <img src="../../assets/logo-bg.png" srcset="../../assets/logo-bg.png 1x, ../../assets/logo-bg.png 2x" class="banner" style="width: 31%;" >
          <img src="../../assets/images/logo_white.png" srcset="../../assets/images/logo_white.png 1x, ../../assets/images/logo_white@2x.png 2x" class="center-img" style="width: 60%;" >
        
          <img src="../../assets/Login_Title1.png" srcset="../../assets/Login_Title1.png 1x, ../../assets/Login_Title1.png 2x"  class="center">
          <img src="../../assets/Login_title2.png" srcset="../../assets/Login_title2.png 1x, ../../assets/Login_title2.png 2x" class="center">
            
        </h2>
      </div>
      <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12">
            <input type="text" class="form-control text-dark bg-light" id="username" [formControl]="username"  placeholder="Username">
      
        
             <input type="password" class="form-control text-dark bg-light"  id="password"  [formControl]="password" placeholder="Password">
       
           <!-- //   <button type="button"  class="btn btn-primary btn-block" (click)="Login()">Sign in</button> -->
            <button type="button" class="btn btn-primary  btn-block " (click)="Login()">Sign in</button>
            <p *ngIf="failed" style="color: brown;"> Invalid Username or Password.</p>
           
          </div>
              
      </div>
      
      
    </div>
  </div>
</div>

<!--Inspiration from: http://ertekinn.com/loginsignup/-->