<div id="wrapper">
	<nav id="sidebar" [class.collapsed]="collapsed">
		<div class="header">
			<a href="index.html">
        <img src="//dev-sourcing.s3.amazonaws.com/assets/logowhite.svg" width="119px" alt="apiax logo" class="logoLarge"/>
        <img src="https://dev-sourcing.s3.amazonaws.com/assets/logosmall.svg" width="119px" alt="apiax logo" class="logoSmall"/>
      </a>
		</div>
		<span class="divider"></span>
		<div class="userArea">
			<div class="userPicture">
				<img src="//dev-sourcing.s3.amazonaws.com/assets/picture@2x.jpg" alt="profile picture" />
			</div>
			<div class="userName">
				Hannah Smith
			</div>
      <div class="ui pointing dropdown accountMenu" suiDropdown autoClose="outsideClick">
				<div class="text"><i class="fa fa-cogs"></i></div>
				<div class="menu" suiDropdownMenu>
					<div class="item"><i class="fa fa-user"></i> Profile</div>
					<div class="item"><i class="fa fa-sign-out"></i> Sign out</div>
				</div>
			</div>
		</div>
		<span class="divider"></span>
		<ul class="navigation">
			<li>
				<a href="#" tooltip="Dashboard"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"  fill-rule="nonzero"/></svg></i><span>Dashboard</span></a>
			</li>
      <li>
				<a href="#" tooltip="Rules" class="active"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"  fill-rule="nonzero"/></svg></i><span>Rules</span></a>
			</li>
      <li>
				<a href="#" tooltip="Taxonomy"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"  fill-rule="nonzero"/></svg></i><span>Taxonomy</span></a>
			</li>
      <li>
				<a href="#" tooltip="Reporting"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z" fill-rule="nonzero"/></svg></i><span>Reporting</span></a>
			</li>
      <li>
				<a href="#" tooltip="Products"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"  fill-rule="nonzero"/></svg></i><span>Products</span></a>
			</li>
      <li>
				<a href="#" tooltip="APIs"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z" fill-rule="nonzero"/></svg></i><span>APIs</span></a>
			</li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
				<a href="#" tooltip="Administration"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"  fill-rule="nonzero"/></svg></i><span>Administration</span></a>
			</li>
      <li>
				<a href="#" tooltip="Help & Faqs"><i><svg width="20" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"  fill-rule="nonzero"/></svg></i><span>Help & FAQs</span></a>
			</li>
		</ul>
    <div class="expandBtn">
      <span id="sidebarCollapse"><i class="fa fa-compress" [class.fa-compress]="!collapsed" [class.fa-expand]="collapsed" (click)="collapsed = !collapsed"></i></span>
    </div>
	</nav>

</div>


<router-outlet></router-outlet>
